{% extends 'base.html'%}

{% block title %}Confirm{% endblock title%}

{% block body %}
<div.class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/featured/?identity" class="d-block w-100 my-4 " alt="...">
</div>
<div class="container ">
    <h1 class="text-center">Confirm Identity </h1>
    <form method="post" action="/identity_view">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
          </div>
        <div class="form-group">
          <label for="edesc">Tell me about the issues</label>
          <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

{% endblock body %}